$main-color:black;
$primary-color:rgb( 29, 128, 159);
$secondary-color:white;
$warning-color:rgb(236, 184, 7);
$main-font:'Source Sans Pro', sans-serif;
$gradient:rgba(52, 58, 64, 0.5);
$bcgimg:url("https://startbootstrap.github.io/startbootstrap-stylish-portfolio/assets/img/bg-masthead.jpg");
$bcgsection: url("https://startbootstrap.github.io/startbootstrap-stylish-portfolio/assets/img/bg-callout.jpg");